[honeypot]
hostname = srv-honeypot
log_path = var/log/cowrie
download_path = var/lib/cowrie/downloads
contents_path = honeyfs
txtcmds_path = txtcmds
ttylog = true
ttylog_path = var/log/cowrie/tty
interactive_timeout = 180
backend = shell

[ssh]
enabled = true
rsa_public_key = etc/ssh_host_rsa_key.pub
rsa_private_key = etc/ssh_host_rsa_key
dsa_public_key = etc/ssh_host_dsa_key.pub
dsa_private_key = etc/ssh_host_dsa_key
version = SSH-2.0-OpenSSH_7.9p1 Debian-10+deb10u2
listen_endpoints = tcp:2222:interface=0.0.0.0
forwarding = true
auth_class = UserDB

[telnet]
enabled = true
listen_endpoints = tcp:2223:interface=0.0.0.0

[output_jsonlog]
logfile = var/log/cowrie/cowrie.json

[output_textlog]
logfile = var/log/cowrie/cowrie.log

[database_jsonlog]
file = var/log/cowrie/sessions.json

# Fake filesystem
[shell]
filesystem = share/cowrie/fs.pickle

# Username/password combinations
[database_textfile]
file = etc/userdb.txt
