paramiko==3.4.0
requests==2.31.0
pymysql==1.1.0
psycopg2-binary==2.9.9
colorama==0.4.6
pyyaml==6.0.1
faker==20.1.0
dnspython==2.4.2  # DNS queries
scapy==2.5.0  # Packet crafting for weird network events
